@page
@using Microsoft.AspNetCore.Identity;
@using StefansSuperShop.Data;
@model StefansSuperShop.Pages.WishlistModel
@inject SignInManager<ExtendedUser> signInManager

@{
    ViewData["Title"] = "Wishlist";
}

<h2>Wishlist</h2>
@if (signInManager.IsSignedIn(User))
{
    @*<h2>@Model._User.Id</h2>*@
    @foreach( var item in Model.Wishlist)
    {
        <h2> @item.Name</h2>
        <form method="post" asp-page="/Wishlist" asp-page-handler="Delete" asp-route-wishlistItemId="@item.Id">
            <button type="submit">Remove from wishlist</button>
        </form>
    }
}
else
{
    <h2> No user</h2>
}


@*<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@